{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %} {% for message in messages %}
<div>
  <span>[{{ message.created_at }}]</span> {{ message.author.first_name}}: {{ message.text }}
</div>
{% endfor %}

<form action="/chat/" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      name="textmessage"
      class="mdl-textfield__input"
      type="text"
      id="sample3"
    />
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Send
  </button>
</form>
{% else %}
<h1>Not logged in</h1>
<p>Please <a href="/login/">login</a>.</p>
{% endif %} {% endblock %}
