{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %} 
<div id="messageContainer">
{% for message in messages %}
<div>
  <span>[{{ message.created_at }}]</span> {{ message.author.first_name}}: {{ message.text }}
</div>
{% endfor %}
</div>
<script>

async function sendMessage() {
  let fd = new FormData();
  let token = '{{ csrf_token }}';
  // let messageField = document.getElementById('messageField').value; no longer necessary
  fd.append('textmessage', messageField.value);
  fd.append('csrfmiddlewaretoken', token);
  try{
    messageContainer.innerHTML += `
        <div id="deleteMessage">
          <span class="color-gray">[DATUM]</span> {{ request.user.first_name }}: <i class="color-gray">${messageField.value}</i>
        </div>`;
  let response = await fetch('/chat/', {
    method: 'POST',
    body: fd
  });

let json = await response.json();
      let parsedJson = JSON.parse(json);
      let textMessage = parsedJson.fields.text;
      let messageDate = parsedJson.fields.created_at;
      let messageDateFormatted = new Date();
      let options = { year: 'numeric', month: 'short', day: 'numeric' };
      let formatter = new Intl.DateTimeFormat('de', options);
      let messageDateToString = formatter.format(messageDateFormatted);
      let messageDateToStringSplitted = messageDateToString.split(".");
      let messageDateDisplay = messageDateToStringSplitted[1] + ". " + messageDateToStringSplitted[0] + "," + messageDateToStringSplitted[2];
      console.log(parsedJson);

  document.getElementById('deleteMessage').remove();
  messageContainer.innerHTML += `
  <div>
    <span class="">[${messageDateDisplay.trim()}]</span> {{ request.user.first_name }}: <span class="">${messageField.value}</span>
  </div>`;
  console.log('success');


} catch(e) {
  console.log('failure: ', e);
}
}

</script>

<form onsubmit="sendMessage(); return false;" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      name="textmessage"
      class="mdl-textfield__input"
      type="text"
      id="messageField"
    />
    <label class="mdl-textfield__label" for="messageField">Text...</label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Send
  </button>
</form>
{% else %}
<h1>Not logged in</h1>
<p>Please <a href="/login/">login</a>.</p>
{% endif %} {% endblock %}
